<div class="main">
  <div class="inner">
    <div class="form__wrapper">
    <h2 class="page-heading">ミーティング内容</h2>
    <%= form_with model: @meeting, local: true do |f|%>
    <%= link_to "ミーティング一覧ページへ", meetings_path, class: :me_new__btn %>
      <div class="field"> 
        <%= f.label :content, "共有事項" %><br />
        <%= f.text_area :content, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :attack, "攻撃面について" %><br />
        <%= f.text_area :attack, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :defence, "守備面について" %><br />
        <%= f.text_area :defence, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :attack_url, "攻撃動画について(なしの場合は「なし」)" %><br />
        <%= f.text_area :attack_url, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :defence_url, "守備動画について(なしの場合は[なし」)" %><br />
        <%= f.text_area :defence_url, class: :form__text %>
      </div>

      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    <% end %>
  </div>
</div>